.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  margin: 0 0.5rem 5rem 0.5rem;
  transition: transform 0.5s;
}

.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}

.Business:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
}

.Business h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
}

.Business-information p {
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #cca353;
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: 0.88rem;
  line-height: 1rem;
}
